@model IEnumerable<SSLChallenge.Models.Module>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.issuedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentResponsible)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.issuedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentResponsible)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.macAddressID }) |
            @Html.ActionLink("Details", "Details", new { id=item.macAddressID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.macAddressID })
        </td>
    </tr>
}

</table>
